<h1>Reviews</h1>


<h2> Below are the reviews from famous chefs: </h2>
<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="http://networthspot.com/wp-content/uploads/2015/11/Emeril-Lagasse-Net-Worth-200x200.jpg" alt="...">
      <div class="caption">
        <h3>Emeril Lagasse</h3>
        <p>You gotta have a little a pasta. Lets turn it up a notch....BAM!</p>
        <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
      </div>
    </div>
  </div>
    <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="http://www.goodfoodandwineshow.co.za/wp-content/uploads/2013/03/gordon_ramsay-200x200.jpg" alt="...">
      <div class="caption">
        <h3>Gordon Ramsey</h3>
        <p>The pasta has to be perfect! The right chef has to be part of the job! RIGHT?!</p>
        <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
      </div>
    </div>
  </div>
    <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="http://cdn.tegna-tv.com/-mm-/c6a6c178ac38a3952244987efb5947e3ab37b33c/r=x203&c=200x200/http/www.gannett-cdn.com/-mm-/903514c198356a6c0ecf0bd44d4e0a2fec6a1b5a/c=0-0-480-480/http/archive.wkyc.com/images/480/480/2/assetpool/images/130129042238_Larry%20Busacca%20Bobby%20Flay%20Getty%20Images.jpg" alt="...">
      <div class="caption">
        <h3>Bobby Flay</h3>
        <p>The pasta is quite the dish. It is completely the best fine italian delicacy across the world.</p>
        <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
      </div>
    </div>
  </div>
</div>